<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
    </head>
    <body>
        <header th:replace="layout/layout :: header"></header>
        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">

                    <h4 class="card-title"><a class="btn btn-light btn-xs" th:href="@{'/ver/'+ ${factura.cliente.id}}" th:utext="#{text.global.volver}"></a></h4>

                    <form th:action="@{/factura/form}" th:object="${factura}" method="post">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" th:text="#{text.factura.form.cliente}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}" disabled="disabled" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="field_desc" class="col-sm-2 col-form-label" th:text="#{text.cliente.factura.descripcion}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{descripcion}" class="form-control" id="field_desc" th:errorclass="'form-control is-invalid'" />
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="field_obs" class="col-sm-2 col-form-label" th:text="#{text.factura.form.observacion}"></label>
                            <div class="col-sm-6">
                                <textarea th:field="*{observacion}" class="form-control" id="field_obs"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="buscar_producto" class="col-sm-2 col-form-label" th:text="#{text.factura.form.buscar}"></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="buscar_producto" name="buscar_producto"/>
                            </div>
                        </div>

                        <table th:replace="factura/plantilla-items :: itemsFactura"></table>

                        <table id="cargarItemProductos" class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th th:text="#{text.factura.form.item.nombre}"></th>
                                    <th th:text="#{text.factura.form.item.precio}"></th>
                                    <th th:text="#{text.factura.form.item.cantidad}"></th>
                                    <th th:text="#{text.factura.form.item.total}"></th>
                                    <th th:text="#{text.factura.form.item.eliminar}"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <h5> <span th:text="#{text.factura.form.total}"></span><span class="badge badge-secondary" id="gran_total">0</span></h5>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" th:value="${titulo}" class="btn btn-secondary" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
        <script th:replace="factura/js/autocomplete-productos :: javascript"></script>
    </body>
</html>