<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <table th:fragment="itemsFactura" class="d-none">
            <tbody id="plantillaItemsFactura">
                <tr id="row_{ID}">
                    <td class="d-none"><input type="hidden" value="{ID}" name="item_id[]" /></td>
                    <td>{NOMBRE}</td>
                    <td>{PRECIO}</td>
                    <td><input type="number" value="1" name="cantidad[]" id="cantidad_{ID}" class="form-control col-sm-4" onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value);"/></td>
                    <td><span id="total_importe_{ID}">0</span></td>
                    <td><a href="#" class="btn btn-danger btn-sm" onclick="itemsHelper.eliminarLineaFactura({ID});" th:text="'X'"></a></td>
                </tr>

            </tbody>
        </table>
    </body>
</html>