<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <header th:replace="layout/layout :: header"></header>

        <div class="container py-4">
            <div class="card bg-light">

                <div class="card-header" th:text="${titulo}"></div>

                <div class="card-body">
                    <h4 class="card-title">
                        <a class="btn btn-secondary btn-sm" th:href="@{'/ver/' + ${factura.cliente.id}}" th:utext="#{text.global.volver}">&laquo; volver</a>
                        <a class="btn btn-danger btn-sm float-right mx-1" th:href="@{'/factura/ver/' + ${factura.id}(format=pdf)}" th:text="#{text.factura.ver.exportar.pdf}"></a>
                        <a class="btn btn-success btn-sm float-right" th:href="@{'/factura/ver/' + ${factura.id}(format=xlsx)}" th:text="#{text.factura.ver.exportar.xlsx}"></a>
                    </h4>

                    <ul class="list-group my-2">
                        <li class="list-group-item list-group-item-primary" th:text="#{text.factura.ver.datos.cliente}"></li>
                        <li class="list-group-item" th:text="${factura.cliente}"></li>
                        <li class="list-group-item" th:text="${factura.cliente.email}"></li>
                    </ul>

                    <ul class="list-group my-2">
                        <li class="list-group-item list-group-item-success" th:text="#{text.factura.ver.datos.factura}"></li>
                        <li class="list-group-item" th:text="#{text.cliente.factura.folio} + ': ' + ${factura.id}"></li>
                        <li class="list-group-item" th:text="#{text.cliente.factura.descripcion} + ': ' + ${factura.descripcion}"></li>
                        <li class="list-group-item" th:text="#{text.cliente.factura.fecha} + ': ' + ${factura.createAt}"></li>
                    </ul>

                    <div class="alert alert-info my-4" th:if="${#lists.isEmpty(factura.items)}" th:text="#{text.factura.ver.no.lineas} + ' ' + ${factura.descripcion}"></div>
                    <table th:if="${not #lists.isEmpty(factura.items)}" class="table table-striped table-hover table-bordered my-3">
                        <thead>
                            <tr>
                                <th th:text="#{text.factura.form.item.nombre}">Producto</th>
                                <th th:text="#{text.factura.form.item.precio}">Precio</th>
                                <th th:text="#{text.factura.form.item.cantidad}">Cantidad</th>
                                <th th:text="#{text.factura.form.item.total}">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="linea : ${factura.items}">
                                <td th:text="${linea.producto.nombre}"></td>
                                <td th:text="${linea.producto.precio}"></td>
                                <td th:text="${linea.cantidad}"></td>
                                <td th:text="${linea.calcularImporte()}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 class="float-right"> <span th:text="#{text.factura.form.total}">Gran Total</span>: <span th:text="${factura.total}" class="badge badge-secondary"></span></h5>

                    <div class="card border-info mb-4" style="max-width: 20rem;">
                        <div class="card-header" th:text="#{text.factura.form.observacion}">Observaciones</div>
                        <div class="card-body">
                            <p th:if="${not #strings.isEmpty(factura.observacion)}" class="card-text" th:text="${factura.observacion}"></p>
                            <h4 th:if="${#strings.isEmpty(factura.observacion)}" class="card-title" th:text="#{text.factura.ver.no.observaciones}"></h4>
                        </div>
                    </div>

                    <h4 class="card-title"><a class="btn btn-secondary btn-sm" th:href="@{'/ver/' + ${factura.cliente.id}}" th:utext="#{text.global.volver}">&laquo; Volver</a></h4>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>