<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>

        <header th:replace="layout/layout :: header"></header>

        <div class="container py-4">

            <div class="card bg-danger text-white">

                <div class="card-header" th:text="#{text.security.error.fourHundredAndThree.titulo}">Error: Acceso Denegado!</div>
                <div class="card-body">
                    <h5 class="card-title" th:utext="#{text.security.error.fourHundredAndThree.permiso(${#authentication.name})}"></h5>
                    <a th:href="@{/listar}" class="btn btn-outline-light" role="button" th:text="#{text.security.error.fourHundredAndThree.volver}">Ir al inicio</a>
                </div>

            </div>

        </div>

        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>