<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/layout/layout :: head">

    </head>
    <body>
        <header th:replace="/layout/layout :: header"></header>

        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">
                    <div th:object="${cliente}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
                        <div class="form-group row"><!-- AGREGAR NOMBRE-->
                            <label class="col-sm-2 col-form-label" for="txt_nombre" th:text="#{text.cliente.nombre}">Nombre:</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nombre}" id="txt_nombre" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                            </div>
                        </div>
                        <div class="form-group row"> <!-- AGREGAR APELLIDO-->
                            <label class="col-sm-2 col-form-label" for="txt_apellido" th:text="#{text.cliente.apellido}">Apellido:</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{apellido}" id="txt_apellido" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                            </div>
                        </div>
                        <div class="form-group row"><!-- AGREGAR EMAIL-->
                            <label class="col-sm-2 col-form-label" for="field_email" th:text="#{text.cliente.email}">Email:</label>
                            <div class="col-sm-6">
                                <input type="email" id="field_email" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                            </div>
                        </div>
                        <div class="form-group row"><!-- AGREGAR FECHA-->
                            <label class="col-sm-2 col-form-label" for="field_createAt" th:text="#{text.cliente.createAt}">Fecha:</label>
                            <div class="col-sm-6">
                                <input type="text" id="field_createAt" th:field="*{createAt}" class="form-control" th:errorclass="'form-control alert-danger'" placeholder="yyyy-MM-dd"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
                            </div>
                        </div>
                        <div class="form-group row"> <!-- AGREGAR FOTO-->
                            <label class="col-sm-2 col-form-label" for="file" th:text="#{text.cliente.foto}">Foto:</label>
                            <div class="col-sm-6">
                                <input type="file" id="file" name="file" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <!--<input type="submit" value="Crear Cliente" class="btn btn-primary"/>-->
                                <input type="submit" th:value="${accion}" class="btn btn-primary"/>
                                <a class="btn btn-secondary btn-xs" th:href="@{/listar}" th:text="#{text.cliente.form.cancelar}">Cancelar</a>
                            </div>
                        </div>

                       <!-- <input type="hidden" th:field="*{id}"/> Puedo usar SessionAttributes en ves de este campo-->
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="/layout/layout :: footer"></footer>
    </body>
</html>