<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/layout :: head"></head>
    <body>

        <div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}" style="display: none;"></div>

        <header th:replace="layout/layout :: header"></header>
        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">
                    <h4 sec:authorize="hasRole('ROLE_ADMIN')" class="card-title">
                        <a class="btn btn-primary btn-xs" th:href="@{/form}" th:text="#{text.cliente.crear}">Crear Cliente</a>
                        <a class="btn btn-primary btn-sm float-right mx-1" th:href="@{'/listar'(format=csv)}" th:text="#{text.cliente.listar.exportar.csv}"></a>
                        <a class="btn btn-secondary btn-sm float-right mx-1" th:href="@{'/listar'(format=xml)}" th:text="#{text.cliente.listar.exportar.xml}"></a>
                        <a class="btn btn-outline-warning btn-sm float-right mx-1" th:href="@{'/listar'(format=json)}" th:text="#{text.cliente.listar.exportar.json}"></a>
                        <a class="btn btn-success btn-sm float-right mx-1" th:href="@{'/listar'(format=xlsx)}" th:text="'XLS'"></a>
                    </h4>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th sec:authorize="hasRole('ROLE_USER')" >Id</th>
                                <th th:text="#{text.cliente.nombre}"></th>
                                <th th:text="#{text.cliente.apellido}"></th>
                                <th th:text="#{text.cliente.email}"></th>
                                <th th:text="#{text.cliente.createAt}"></th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.crear}">Crear factura</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.editar}">Editar</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.eliminar}">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cliente : ${clientes}">
                                <td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-sm" th:href="@{'/ver/'+ ${cliente.id}} " th:text="${cliente.id}"></a></td>
                                <td th:text="${cliente.nombre}"></td>
                                <td th:text="${cliente.apellido}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.createAt}"></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-sm" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="#{text.cliente.factura.crear}"></a></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-sm" th:href="@{/form/} + ${cliente.id}" th:text="#{text.cliente.editar}"></a></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-sm" th:href="@{'/eliminar/' + ${cliente.id}} " onclick="return confirm(document.getElementById('i18n_eliminar_cliente').innerHTML)" th:text="#{text.cliente.eliminar}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <nav th:replace="paginator-nav :: paginator"></nav>
                </div>
            </div>
        </div>

        <footer th:replace="/layout/layout :: footer">

        </footer>
    </body>
</html>