<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <header th:replace="layout/layout :: header"></header>

        <div class="container py-4">
            <div class="card border-primary">
                <div class="card-header text-center" th:text="#{text.login.titulo}">Sing In</div>
                <div class="card-body">

                    <form th:action="@{/login}" method="post">

                        <div class="form-group col-sm-6">
                            <input type="text" name="username" id="username" class="form-control" th:placeholder="#{text.login.username}" autofocus required/>
                        </div>

                        <div class="form-group col-sm-6">
                            <input type="password" name="password" id="password" class="form-control" th:placeholder="#{text.login.password}" required/>
                        </div>

                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{text.login.boton}"/>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>