<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <nav th:fragment="paginator">
            <ul class="pagination">

                <li class="page-item" th:class="${page.first ? 'page-item disabled' : 'page-item'}">
                    <span class="page-link" th:if="${page.first}" th:text="#{text.paginator.first}">Primera</span>
                    <a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}" th:text="#{text.paginator.first}">Primera</a>
                </li>

                <li class="page-item" th:class="${not page.hasPrevious ? 'page-item disabled' : 'page-item'}">
                    <span class="page-link" th:if="${not page.hasPrevious}" th:utext="#{text.paginator.previous}">&laquo;</span>
                    <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}" th:utext="#{text.paginator.previous}">&laquo;</a>
                </li>

                <li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual ? 'page-item active' : 'page-item'}">
                    <span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
                    <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
                </li>

                <li class="page-item" th:class="${not page.hasNext ? 'page-item disabled' : 'page-item'}">
                    <span class="page-link" th:if="${not page.hasNext}" th:utext="#{text.paginator.next}">&raquo;</span>
                    <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}" th:utext="#{text.paginator.next}">&raquo;</a>
                </li>

                <li class="page-item" th:class="${page.last ? 'page-item disabled' : 'page-item'}">
                    <span class="page-link" th:if="${page.last}" th:text="#{text.paginator.last}">Última</span>
                    <a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}" th:text="#{text.paginator.last}">Última</a>
                </li>

            </ul>
        </nav>
    </body>
</html>