<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/layout :: head"></head>
    <body>

        <div id="i18n_eliminar_factura" th:text="#{text.cliente.factura.eliminarOk}" style="display: none;"></div>

        <header th:replace="layout/layout :: header"></header>
        <div class="container py-4">
            <div class="card bg-light border-primary mb-1">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">
                    <!--<h4 class="card-title"><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/factura/form/'+ ${cliente.id}}" th:text="#{text.cliente.factura.crear}"></a></h4> -->
                    <img th:if="${#strings.length(cliente.foto) > 0}" class="img-thumbnail rounded float-left" style="max-width: 25%" th:src="@{'/uploads/'+${cliente.foto}}" th:alt="${cliente.foto}"/>
                    <ul class="list-group">
                        <li class="list-group-item " th:text="${cliente.nombre}"></li>
                        <li class="list-group-item " th:text="${cliente.apellido}"></li>
                        <li class="list-group-item " th:text="${cliente.email}"></li>
                        <li class="list-group-item " th:text="${cliente.createAt}"></li>
                    </ul>

                </div>
            </div>
            <div class="card bg-light border-success">
                <div class="card-header" th:text="${tituloFacturas}"></div>
                <div class="card-body">
                    <h4 class="card-title"><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/factura/form/'+ ${cliente.id}}" th:text="#{text.cliente.factura.crear}"></a></h4>
                    <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-2" th:text="#{text.cliente.detalle.no.facturas} + ' ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>
                    <table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-striped my-2">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{text.cliente.factura.folio}">Folio</th>
                            <th th:text="#{text.cliente.factura.descripcion}">Descripción</th>
                            <th th:text="#{text.cliente.factura.fecha}">Fecha</th>
                            <th th:text="#{text.cliente.factura.total}">Total</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.detalle}">Ver</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.eliminar}">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="factura : ${cliente.facturas}">
                            <td th:text="${factura.id}"></td>
                            <td th:text="${factura.descripcion}"></td>
                            <td th:text="${factura.createAt}"></td>
                            <td th:text="${factura.total}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-sm" th:href="@{'/factura/ver/' + ${factura.id}}" th:text="#{text.cliente.factura.detalle}"></a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-warning btn-sm" th:href="@{'/factura/eliminar/' + ${factura.id}}" th:text="#{text.cliente.factura.eliminar}" onclick="return confirm(document.getElementById('i18n_eliminar_factura').innerHTML);"></a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>